
.project{
    display: flex;
    justify-content: space-between;
}
.project comments{
    flex:1;
    
    padding: 0;
    margin: 0;
}
.project summary{
    flex:2;
    max-width: 100%;
    padding: 0;
}
.project  .card{
    position: relative;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    padding:2rem;
    border-radius: 8px;
    min-width: 100%;
    }
    .card .assigned-users  {
        display: flex;
        align-items: flex-end;
        justify-content: start;
        flex-wrap: wrap;
     }
.project  h4{
   letter-spacing: 0.1rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
}
.project .card p {
    color:var(--text-color);
    line-height: 1rem;
}


.project .avetar{
    margin-top: 1rem;
    width: 40px;
    height: 40px;
    filter:invert(20%)
}

.project h5{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.project .details{
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 500;
}
#temple{
 position: absolute;
 top:0;
 left: 0;
 width:25px;
 height:25px;
 padding: 10px;
 filter: invert(50%);
}


.comments .avetar{
    width: 25px;
    height: 25px;
    margin-right: auto;
}

.project #comment{
    color: var(--text-color);
    min-width:100%;
    border: 1px solid #fefefe;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    padding:10px;
    margin: 5px auto;
    overflow-x: hidden;
    

}
.comments h4{
    margin-bottom: 20px;
    color: var(--heading-color);
    text-align: left;
}
#comment span{
    margin-bottom: 0;
    padding: 0;
}
#comment  p {
    
    margin:0 auto;
}