
.project-container{
    display: flex;
    justify-content: space-between;
}
.project-container Addcomment-container{
    flex:1;
}
.project-container .card{
    flex:2;
    min-width: 60%;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    padding:2%;
}
.project-container  h4{
   letter-spacing: 0.1rem;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.project-container .card p {
    color:var(--text-color);
    line-height: 1rem;
}
.project-container .details p{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0,0,0,0);
    background-color: var(--bg-color);
}
.project-container ul{
    display: flex;
    align-items: center;
    justify-content: start;
}
.project-container .avetar{
    margin-top: 1rem;
    width: 40px;
    height: 40px;
    filter:invert(20%)
}
.project-container span{
    text-align: center;
    margin:0 1.2rem;
}
.project-container h5{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.project-container .details{
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 500;
}