.sidebar{
    width: 300px;
    min-width: 300px;
    position: relative;
    background: var(--primary-color);
    color: #fff;
    font-weight: 2.2em;
}
.content {
    position: fixed;
    width: inherit;
}
.sidebar .user{
    text-align: center;
    font-weight: 500;
    letter-spacing: .2em;
    padding: 40px 30px;
    border-bottom: 1px solid rga(255,255,255,0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
.sidebar .links li {
    margin-top: 10px;
}
.sidebar .links a {
    display: flex;
    padding: 10px;
    width: 100%;
    color: #fff;
}
.sidebar .links img {
    margin-right: 10px;
    filter: invert(100%);
}
.sidebar .links a.active{
    color:#555;
    background-color: var(--bg-color);
    border-radius: 20px 0 0 20px;
}
.sidebar .links .active img{
    filter: invert(40%);
}