.sidebar{
    width: 300px;
    min-width: 300px;
    position: relative;
    background: lightblue;
    color: #fff;
}
.content {
    position: fixed;
    width: inherit;
}
.sidebar .user{
    text-align: center;
    font-weight: bold;
    letter-spacing: .2em;
    padding: 40px 30px;
    border-bottom: 1px solid rga(255,255,255,0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
.sidebar links li {
    margin-top: 10px;
}
.sidebar links a {
    display: flex;
    padding: 10px;
    width: 100%;
    color: #fff;
}
.sidebar links img {
    margin-right: 10px;
    filter: invert(100%);
}