.create-form{
    max-width: 400px;
    margin: 0 auto;
}

textarea{
    width:100%;
}


.create-form button{
    margin-top: 8px;
    display: flex;

    align-items: center;
}
.create-form input{
    padding-left: 0;
    padding-right:0;

    
}
.create-form span img{
    margin-right: 5px;
    color: white;
}
.creat-form span{
   
}