.projects-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.avetar{
    width:30px;
    height: 30px;
    margin:10px 5px;
}
 .card{
    
    max-width: 250px;
    min-width: 200px;
    background-color:#fff;
    box-shadow: 3px 3px 5px  rgba(0,0,0,0.5);
    margin:15px 10px 10px 0px;
    padding: 15px;
}
.card h3{
    color: var(--heading-color);
    font-size: 1.2rem;
    text-align: center;
}
a {
    margin:15px;
}
.card p {
    margin :5px auto;
    color:var(--text-color);
}
.card:hover{
    transform:  scale(1.02);
    transition: all 1s ease-in
}