

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');


/*color variables */
:root{
--heading-color:#444;
--text-color:#999;
--primary-color:#8d69f1;
--highlight-color:#d13267;
--bg-color:#f4f4f4;
}
body{
  background-color: var(--bg-color);

}

ul {
  
  list-style-type: none;
  
}
.btn{
  display: block;
  
  padding: 4px 12px;
  
  border: 2px solid var(--primary-color);
  color:var(--primary-color);
  background-color: #fff;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
  label{
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  
}

a{
  text-decoration: none;
}
.btn:hover{
  color:#fff;
  background-color: var(--primary-color);

}
 input{
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  color: #444;

 border-radius: 4px;
}
h2{
  color: var(--heading-color);

}
.error{
  color: red;
  background: var(--bg-color);
  border: 1px solid var(--highlight-color);
  margin: 10px 0px;
  padding:  10px ;
  border-radius: 4px;
}

textarea{
  font-size: 1.1rem;
  border-radius: 4px;
  color: #444;
  
}
span{
  display: flex;
  align-items: center;
}