*{
  margin: 0px;
  padding: 0px;
}
/*color variables */
:root{
--heading-color:#444;
--text-color:#999;
--primary-color:#8d69f1;
--highlight-color:#d13267;
--bg-color:#f4f4f4;
}
body{
  background-color: var(--bg-color);
}

ul {
  
  list-style-type: none;
  
}
.btn{
  display: block;
  
  padding: 4px 12px;
  
  border: 2px solid var(--primary-color);
  color:var(--primary-color);
  background-color: #fff;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
 span, label{
  display: block;
  
}

a{
  text-decoration: none;
}
.btn:hover{
  color:#fff;
  background-color: var(--primary-color);

}
span,input{
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
}