.online-users{
    
    width: 250px;
    min-width: 250px;
    background: #fbfbfb;
    font-weight: bold;
    
}
 .online-users h2{
    
    text-align: center;
    color: var(--heading-color);
    margin-top:40px ;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--bg-color);
    
}
.online-users .user{
    display: flex;
    align-items: center;
    
  margin: 15px;
    
}
.online-users .user .loggedout {
    font-size: 0.8em;
    opacity: 0.6;
    color:red
}
.online-users .user .logged{
    color: green;
    font-size: 1em;
}
.online-users .user img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 30px;

}
.online-users .user .online{
    
    width:15px;
    height: 15px;
    background-color: green;
    border-radius: 100%;
    margin-right: 15px;
}
.online-users .user .offline{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: red;
    opacity: 0.6;
    margin-right: 15px;
    
}

