.online-users{
    
    width: 300px;
    min-width: 300px;
    position: relative;
    background: var(--primary-color);
    color: #fff;
    font-weight: 2.2em;
    
}
.online-users .user{
    display: flex;
    align-items: center;
    
  margin: 20px;
    
}
,.online-users .user .display-name {
    display: block;
    
}

.online-users .user img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 70px;

}
.online-users .user .online{
    
    width:15px;
    height: 15px;
    background-color: green;
    border-radius: 100%;
    margin-right: 30px;
}
.online-users .user .offline{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: red;
    margin-right: 30px;
    
}

